

<div class="container">
    <div class="col-12 text-center pt-1">
        <h1>About this project...</h1>
        <hr />
        <h3> I used the following technologies to build this project.</h3>
    </div>
    <br/>
    <div class="card-deck">
        <div class="card">
            <img src="~/images/asp-net-core-logo.png" class="card-img-top h-50">
            <div class="card-body">
                <h5 class="card-title">ASP.NET CORE MVC 3.1</h5>
                <p class="card-text">ASP.NET Core is the open-source version of ASP.NET, that runs on macOS, Linux, and Windows. ASP.NET Core was first released in 2016 and is a re-design of earlier Windows-only versions of ASP.NET.</p>
            </div>
            <div class="card-footer">
                    
            </div>

        </div>
        <div class="card">
            <img src="~/images/bootstrap-logo.png" class="card-img-top h-50" >
            <div class="card-body">
                <h5 class="card-title">BOOTSTRAP 4</h5>
                <p class="card-text">Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first websites.</p>
            </div>
            <div class="card-footer">
                    
            </div>
        </div>
        <div class="card">
            <img src="~/images/JavaScript-logo.png" class="card-img-top h-50" alt="...">
            <div class="card-body">
                <h5 class="card-title">JAVASCRIPT</h5>
                <p class="card-text">JavaScript is a scripting language used to create and control dynamic website content, i.e. anything that moves, refreshes, or otherwise changes on your screen without requiring you to manually reload a web page.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="card-deck">
        <div class="card">
            <img src="~/images/sweet_alert.png" class="card-img-top h-50">
            <div class="card-body">
                <h5 class="card-title">Sweet Alert</h5>
                <p class="card-text">SweetAlert is a JavaScript library that helps us create alerts in our web applications. The project is open source and is available on GitHub under the MIT license.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card">
            <img src="~/images/datatables-logo.png" class="img-fluid h-50" >
            <div class="card-body">
                <h5 class="card-title">DATATABLES.NET</h5>
                <p class="card-text">DataTables is a powerful jQuery plugin for creating table listings and adding interactions to them. It provides searching, sorting and pagination without any configuration.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card">
            <img src="~/images/toastr.png" class="card-img-top h-50" alt="...">
            <div class="card-body">
                <h5 class="card-title">TOASTR</h5>
                <p class="card-text">toastr is a Javascript library for Gnome / Growl type non-blocking notifications.</p>
            </div>
            <div class="card-footer">
            </div>
        </div>
        <div class="card">
            <img src="~/images/Octocat.png" class="card-img-top h-50" alt="...">
            <div class="card-body">
                <h5 class="card-title">GITHUB</h5>
                <p class="card-text">GitHub is a code hosting platform for collaboration and version control.
                    GitHub lets you (and others) work together on projects.</p>
            </div>
            <div class="card-footer">
                        
            </div>
        </div>
    </div>

</div>
<div class="col-12  text-center pt-1">
    <h1>How to use project...</h1>
    <hr />
    <h5>Website Overview:</h5>
    <div>
        <li> Following are the Admin User Account that exists by default (Password: Admin123*):</li>
        <ul>Admin User        admin@acmerental.com</ul>
        <ul>Manager User         manager@acmerental.com</ul>
        <p>You can create new accounts as you wish! </p>
        <p> If you prefer to create any accounts please login using the Admin User and navigate to Users inside Content Management.</p>
        <p>Create/Edit/Delete functionalities have been disabled for all users inside Content Management (Admin) portal to avoid misuse of website.</p>
       
        <h5> How to use the demo website:</h5>
        
       
        Admin user can register new employees/admins for the website.
    </div>
</div>