
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card pt-1">
    <div class="card-header bg-secondary text-primary ml-0 row container">
        <div class="col-12 d-none d-md-block col-md-12 pb-1">
            <i class="fas fa-phone"></i> &nbsp; Contact Us
        </div>
    </div>
    <div class="card-body">
        <div class="container rounded p-2">
            <div class="row backgroundWhite border">
                <div class="col-12 col-lg-12 pb-4">
                    <div class="col-12 col-md-12">
                        <h5>
                            <p class="text-center  text-primary">
                                Please do not hesitate to contact us directly.
                            </p>
                            <p class="text-center  text-primary">
                                If interested in any of the properties,please fill in the form below.
                            </p>
                            <p class="text-center  text-primary">
                                Our team will come back to you within
                                a matter of hours to help you.
                            </p>
                        </h5>
                    </div>
                    </br>
                    <div class="row my-3">
                        <div class="col-3">
                            <label>Name</label>
                        </div>
                        <div class="col-9">
                            <input name="Name" readonly type="text" class="form-control" required />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                            <label>Phone</label>
                        </div>
                        <div class="col-9">
                            <input name="Phone" readonly type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                            <label>Email</label>
                        </div>
                        <div class="col-9">
                            <input name="Email" readonly type="email" class="form-control" />
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                            <label>Message</label>
                        </div>
                        <div class="col-9">
                            <textarea name="Message" rows="4" readonly type="email" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-3">
                        </div>
                        <div class="col-9">
                            <a asp-action="Index" class="btn btn-primary form-control">Send</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row text-primary pt-5">
    <div class="col-md-12 text-center text-primary">
        <div class="row">
            <div class="col-4">
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Johannesburg, South Africa</p>
            </div>

            <div class="col-4">
                <i class="fas fa-phone mt-4 fa-2x"></i>
                <p>+ 27 84 484 1624</p>
            </div>

            <div class="col-4">
                <i class="fas fa-envelope mt-4 fa-2x"></i>
                <p>contact@acmerentals.com</p>
            </div>
        </div>
    </div>


</div>

